.login-form {
    width: 435px;
    height: 589px;
    border-radius: 10px;
    background: #fff;
    position: fixed;
    z-index: 100550;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: 100px auto;
    box-shadow:  0 0 0 9999px rgba(1, 1, 1, .8);
}

.enter {
    color:#000;
    font-size:24px;
    text-align:center;
    cursor: default;
}

.vk {
    text-align:center;
    padding-top:12px;
    padding-left:15px;
    display:block;
    width: 360px;
    height: 56px;
    margin:40px auto;
    border: 2px solid #4A76A8;
    border-radius: 10px;
    outline:none;
    font-size:19px;
    color: #4A76A8;
    background:#fff;
    cursor:pointer;
    position:relative;
}

.vk:before {
    content:'';
    position:absolute;
    width:29px;
    height:15px;
    background:url('../img/vk_blue.svg');
    left:100px;
    top:18px;
}
.vk:hover {
    background: #4A76A8;
    color:#fff;
}

.vk:active {
    background: #5C89BC;
    border:1px solid #5C89BC;
}

.vk:hover:before {
    content:'';
    position:absolute;
    width:29px;
    height:15px;
    background:url('../img/vk_white.svg');
}

.info-login {
    margin-top:70px;
}

.input-email,
.input-pass {
    display:block;
    margin:15px auto;
    width: 360px;
    height: 56px;
    background: #EDEDED;
    border-radius: 10px;
    outline:none;
    border:1px solid #EDEDED;
    padding:17px;
    font-size:16px;
}

.info-login .iForgotPassword {
    display:block;
    color: #767676;
    text-align:center;
    padding-left:230px;
    margin-top:60px;
}

.iForgotPassword:hover {
    color: #A54657;
    text-decoration:underline;
}

.enter-button {
    width: 359px;
    height: 59px;
    background: #A54657;
    border-radius: 10px;
    outline:none;
    border:0;
    color:#fff;
    font-size:16px;
    display:block;
    margin: 20px auto;
    cursor:pointer;
}

.enter-button:hover {
    background: #CD5268;
    border:1px solid #CD5268;
}

.enter-button:active {
    background: #DF667C;
    border:1px solid #DF667C;
}

.overlay {
    top:0;
    bottom:0;
    right:0;
    left:0;
    z-index:5;
    margin:auto;
    width:1350px;
    height:100%;
    position:fixed;
}

.first-block {
    position:absolute;
    z-index:55;
    width:600px;
    height:1510px;
    top:-100px;
    right:440px;
}

.second-block {
    position:absolute;
    z-index:55;
    width:600px;
    height:1510px;
    top:-100px;
    left:440px;
}

.top-block {
    position:absolute;
    z-index:55;
    width:1600px;
    height:100px;
    top:-105px;
    left:-550px;
    margin:0 auto;
}

.bottom-block {
    position:absolute;
    z-index:55;
    width:1600px;
    height:50px;
    bottom:-53px;
    right:-600px;
}


