body {
    margin:0;
    font-family: Open Sans;
    background:url("../img/background.jpg") no-repeat center fixed;
    background-size: cover;

    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;

    display:-webkit-flex;
    display:-ms-flexbox;
    display:flex;

    flex-direction: column;
    min-height: 100vh;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

.wrapper {
    max-width:74%;
    margin:0 auto;
    height:auto;
}

a {
    text-decoration: none;
    color: #9C9C9C;
}

ul {
    padding:0;
    margin:0;
    list-style:none;
}

::-webkit-scrollbar {
    width:0;
    height:0;
}




