header {
    min-height:72px;
    background: #fff;
    box-shadow: 0 1px 28px rgba(0, 0, 0, 0.25);
    top:0;
    z-index:5;
}


header .wrapper ul {
    display:-webkit-flex;
    display:-ms-flexbox;
    display:flex;
    justify-content: space-around;
    align-items:center;
    margin-left:-90px;
    margin-right:-90px;
}

.search {
    color: #767;
    width: 444px;
    height: 40px;
    background: #EDEDED;
    border-radius: 70px;
    border:1px solid #EDEDED;
    text-align:center;
    outline:none;
}

.sign-in,
.search {
    font-size:16px;
}

.pic-search {
    position: absolute;
    top: 23px;
    margin-left: 10px;
}

.sign-in {
    color:#000;
    display:block;
    background: rgba(255, 255, 255, 0.4);
    border: 2px solid #EDEDED;
    width:94px;
    height:40px;
    border-radius: 22px;
    margin:12px auto;
    line-height:36px;
    text-align: center;
    cursor:pointer;
    outline:none;
}


a .pic-logo {
    position:relative;
    top:2px;
    left:10px;
}

.sign-in:hover {
    background: #EDEDED;
}

.sign-in:active {
    background: #E3E3E3;
    color:#000;
}

.search:active,
.search:focus {
    text-align:left;
    text-indent:40px;
}

