@media (max-width: 917px) {
    .wrapper ul {
        text-align:center;
        display:-webkit-flex;
        display:-ms-flexbox;
        display:flex;
        flex-direction: column;
        justify-content: center;
        width:100%;
        padding-left:175px;
    }

    footer .wrapper div {
        flex-direction: column;
    }

    footer {
        min-height:300px;
    }

    .community,
    .website {
        margin-left:155px;
    }


    .find-us {
        margin-left:183px;
    }



    .main-block {
        margin-top:80px;
    }

    .pic-search {
        margin-top:45px;
    }

    .container-signin {
        height:175px
    }

    .in-time {
        padding-bottom:30px;
    }
}

@media (max-width:792px) {
    .main-block .wrapper {
        width:550px;
    }

    .website,
    .community,
    .find-us {
        margin-left:130px;
    }

    .community,
    .website {
        margin-left:110px;
    }
}

@media (max-width: 668px) {
    .find-us {
        margin-left:80px;
    }

    .website,
    .community {
        margin-left:60px;
    }
}

@media (max-width:555px) {
    .main-block .wrapper {
        width:450px;
    }

    .find-us {
        margin-left:50px;
    }

    .community,
    .website {
        margin-left:30px;
    }
}

@media (max-width:530px) {
    .search {
        max-width:350px;
    }

    .find-us {
        margin-left:30px;
    }

    .website,
    .community {
        margin-left:10px;
    }

}

@media (max-width:452px) {
    .main-block .wrapper {
        width:415px;
    }

    .in-time {
        margin-bottom:40px;
    }

    .nav {
        display:block;
        margin-top:15px;
    }

    .time {
        padding-top:40px;
    }

    .login-form {
        max-width:400px;
    }

    .find-us {
        margin-left:5px;
    }

    .website,
    .community {
        margin-left:-15px;
    }
}
