.main-block .wrapper {
    margin:40px auto;
    height: auto;
    max-width:1230px;
    background: #fff;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
}

.in-time {
    display:-webkit-flex;
    display:-ms-flexbox;
    display:flex;
    padding-top:15px;
}

.block-week-month-date {
    width:60%;
}

.time {
    width:40%;
}

.time p {
    text-align:end;
    padding-right:44px;
    font-weight: 600;
    font-size: 22px;
    padding-top:13px;
}

.block-week-month-date,
.time  {
    height:100px;
    margin-top:-20px;
}

.block-week-month-date {
    margin-left:-5px;
}

.block-week-month-date button,
.block-week-month-date label {
    color:#000;
    width: 94px;
    height: 42px;
    background: #fff;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.15);
    border-radius: 50px;
    font-size: 16px;
    text-align:center;
    line-height:42px;
    border:1px solid #fff;
    outline:none;
    cursor:pointer;
    position:relative;
    left:18px;
    top:30px;
    margin-left:15px;
}

.block-week-month-date button {
    line-height:20px;
}

.block-week-month-date label {
    line-height:40px;
}

.block-week-month-date label {
    margin-bottom:10px;
    width: 81px;
    height: 44px;
    display:inline-block;
}

.block-week-month-date button:hover,
.block-week-month-date label:hover{
    background: #EDEDED;
    border:1px solid #EDEDED;
}

.block-week-month-date button:focus,
.block-week-month-date button:active,
.block-week-month-date label:focus,
.block-week-month-date label:active{
    background: #E3E3E3;
    border:1px solid #E3E3E3;
}

.inside-container {
    width:100%;
    height:auto;
    display:flex;
    flex-flow:row wrap;
    justify-content: center;
}

.inside-container .element {
    max-width:369px;
    height:197px;
    margin-bottom:110px;
    background:url("../img/gradient.jpg") center;
    background-size:cover;
    position:relative;
}

.inside-container section {
    width:372px;
    height:305px;
    margin-bottom:30px;
    margin-left:13px;
    margin-right:13px;
    position:relative;
}

.out-block {
    display:-webkit-flex;
    display:-ms-flexbox;
    display:flex;
}

.inside-container section .event-name {
    height:auto;
    font-size:22px;
    position:relative;
    bottom:100px;
}

.block {
    display:none;
}

.block.active {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}

.time.active {
    display:inline-block;
}


.event-time,
.event-place {
    height:auto;
    width:50%;
    font-size:16px;
    position:relative;
    bottom:83px;
}

.event-place {
    text-align:left;
    text-indent:48px;
}

.event-time {
    float:left;
    padding-left:28px;
}

.event-time p,
.event-place p {
    position:relative;
}

.event-time p:before {
    content:'';
    position:absolute;
    width:19px;
    height:19px;
    background:url("../img/clock_1.svg") center no-repeat;
    background-size:cover;
    left:-27px;
    top:1px;
}

.event-place p:before {
    content:'';
    position:absolute;
    width:15px;
    height:21px;
    background:url("../img/location.svg") center no-repeat;
    background-size:cover;
    left:25px;
}
/*===*/
