table {
    position: fixed;
    top:100px;
    left:400px;
    background: #EDEDED;
    z-index: 5;
}


td {
    text-align: center;
    width: 714px;
    height: 440px;
    display: none;
}

.hide {
    display: block;
}

td img {
    height: 250px;
    width: 380px;
    margin-top: 30px;
    cursor: pointer;
}

td p {
    font-weight: bold;
}

